* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #141414;
  color: #ffffff;
}

.App {
  min-height: 100vh;
}

/* 헤더 때문에 페이지 콘텐츠 위쪽 여백 추가 */
.home, .signin, .popular, .search, .wishlist {
  padding-top: 100px;  /* 헤더 높이만큼 */
  padding-left: 2rem;
  padding-right: 2rem;
}

.home h1, .signin h1, .popular h1, .search h1, .wishlist h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}